flask
streamlit
pandas
numpy
scikit-learn
scipy
plotly
folium
streamlit-folium
matplotlib
seaborn
geopy
overpy
requests
networkx
osmnx
geopandas
shapely
pyogrio
torch
torchvision
torchaudio
torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
python-dateutil
joblib
tqdm
xgboost
lightgbm
contextily
rasterio
fiona
streamlit-components-template