streamlit
pandas
numpy
scikit-learn
scipy
plotly
folium
streamlit-folium
matplotlib
seaborn
geopy
overpy
requests
networkx
dataclasses
typing
osmnx
geopandas
shapely
pyogrio
torch
torchvision
torchaudio
torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv